html, body {
  height: 100%;
  margin: 0;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
}

.wordleRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wordleBox {
  width: 61px;
  height: 61px;
  margin: 5px;
  border: 2px solid rgb(179, 179, 179);

  display: flex;
  justify-content: center;
  flex-direction: column;

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 34px;
}

.wrongLetter, .wrongPlace, .correctPlace {
  color: white;
  border: none !important;
  width: 65px !important;
  height: 65px !important;
}

.wrongLetter {
  background-color: #787C7E;
}

.wrongPlace {
  background-color: #C9B458;
}

.correctPlace {
  background-color: #6AAA64;
}

.letterPresent {
  border-color: #787C7E;
}

.invalidWord {
  border-color: red !important;
}

.borderTransition {
  transition: border-color 5s;
}

.shakeWord {
  animation: shaking 0.5s 2;
}

@keyframes shaking {
  0% {
    transform: translateX(0)
  }
  25% {
    transform: translateX(5px)
  }
  50% {
    transform: translateX(-5px)
  }
  75% {
    transform: translateX(5px)
  }
  100% {
    transform: translateX(0)
  }
}

#statusText {
  margin: 20px;

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: rgb(112, 112, 112);
}