<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for("static", filename="index.css") }}" rel="stylesheet">
  <title>Wordle</title>
</head>

<body>
<div class="outerDiv">
  <div class="titleContainer">
    <h1 class="title">Wordle</h1>

    <h2 id="statusText"></h2>
  </div>

  <div class="container">
    <div class="wordleContainer">
      <div id="wordleGrid">
        <!-- Will populate using javascript -->
      </div>
    </div>

    <div class="keyboard">
      <div class="keyboardRow">
        {% for key in ["Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P"] %}
          <button class="keyboardKey"
                  onclick="handleClick(this)"
                  id="{{ key }}">{{ key }}</button>
        {% endfor %}
      </div>
      <div class="keyboardRow">
        {% for key in ["A", "S", "D", "F", "G", "H", "J", "K", "L", "Delete"] %}
          <button class="keyboardKey"
                  onclick="handleClick(this)"
                  id="{{ key }}">{{ key }}</button>
        {% endfor %}
      </div>
      <div class="keyboardRow">
        {% for key in ["Z", "X", "C", "V", "B", "N", "M", "Enter"] %}
          <button class="keyboardKey"
                  onclick="handleClick(this)"
                  id="{{ key }}">{{ key }}</button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const validWordsUrl = "{{ url_for("validWords") }}";
  const winningWordUrl = "{{ url_for("word") }}";
</script>
<script src="{{ url_for("static", filename="index.js") }}"></script>
</body>

</html>